
/******************/
/* General Rules */
/****************/


/* Reset default properties*/
* {
    margin: 0;
    padding: 0;
    border: none;
}



/* --------- Global style */
body{
    align-items: center;
    text-align: center;
    align-content: center;
}

.main{
    background-color: rgb(255, 107, 181, 0.8);
}



.btn{
    background-color: darkgoldenrod;
    border: 1px solid;
    border-radius: 5px;
    font-size: 2.1rem;
    padding: 5px;
    align-content: center;
    
}

.game-display{
    display: flex;
    gap: 10px;
    justify-content: center;
}


.game-display p {
    background-color: aliceblue;
    border: 2px solid;
    border-radius: 10px;
    width: 150px;
}



/* --------- Modal proprieties and style */
.modal-play {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s opacity 0.5s;
}

.active{
    visibility: visible;
    opacity: 1;
}

.modal{
    background-color: aqua;
    width: 30%;
    height: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
